// <-- Import reset styles, variables and mixins --> \\
@import "reset-css/reset";
@import "variables/colors";
@import "mixins/titles";
@import "mixins/other-text-styles";
// <-- Use mixins` styles --> \\
.title{
  @include title
}
.menu__link{
  @include navbarLinks;
  &:hover{
    color: $navbarHoverColor;
  }
}
.post__subtitle{
  @include subtitle;
}
.post__text{
  @include recentPostText;
}
.post__title{
  @include post-title;
}
.footer-subtitle{
  @include footerText;
  margin: 0 0 37px 0;
}
.data__text{
  @include footerText;
}

// <== Wrapper | Container ==> \\
.wrapper{
  display: block;
}
._container{
  padding: 0 15px;
  margin: 0 auto;
}

// <-- Navbar --> \\
.navbar__menu{
  display: flex;
  justify-content: center;
  align-items: center;
  .menu__link:nth-child(6){
    margin: 0;
  }
}
.dropbox__menu{
  display: none;
  .fa-times{
    display: none;
  }
}

// <-- Main content section - Resent posts --> \\
// Posts` head
.posts__head{
  margin: 0 0 24px 0;
}
// Posts` body
.posts__body{
  display: grid;
  .post{
    display: flex;
    justify-content: center;
    align-items: stretch;
    .post__image{
      width: 160px;
      height: 140px;
    }
    .post__content{
      margin: 0 0 0 20px;
      .post__title{
        padding: 1px 0 0 0;
      }
    }
  }
}

// <-- Instagram gallery section --> \\
.instagram-gallery{
  background-color: #E9EDEF;
  padding: 38px 0 42px 0;
}
.gallery__head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 24px 0;
  .smaller-title{
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
    &:hover{
      color: $navbarHoverColor;
    }
  }
}
.gallery__body{
  img{
    width: 240px;
    height: 249px;
  }
}

// <-- Footer --> \\
.footer{
  padding: 66px 0 70px 0;
  background-color: $dropboxAndFooterBgColor;
}
.footer-title-subtitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .white{
    color: $footerTitleColor;
    margin: 0 0 20px 0;
  }
}
.footer__icons{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 34px);
  grid-column-gap: 5px;
  padding: 0 0 34px 0;
  img:hover{
    cursor: pointer;
    background-color: #1b1e21;
    border-radius: 50%;
  }
}

.error{
  display: none;
}
@media (max-width: 319px) {
  body{
    background-color: #000000;
  }
  .wrapper{
    display: none;
  }
  .error{
    display: block;
    color: #ffffff;
    background-color: red;
    font-size: 40px;
  }
}

@media (min-width: 320px) and (max-width: 767px){
  .top-navbar {
    margin: 23px 0;
    position: relative;
  }
  .navbar__menu{
    opacity: 0;
    transition: 0.8s;
    display: block;
    position: absolute;
    top: -1000%;
    right: 15px;

    background-color: #F5F5F5;
    li{
      padding: 7px 86px 7px 12px;
      &:active{
        background-color: #E5E5E5;
      }
    }
  }
  .bar-cross{
    .fa-times{
      display: block;
      color: #ffffff;
    }
    .fa-bars{
      display: none;
    }
  }
  .media-navbar-menu{
    opacity: 1;
    transition: 0.6s;
    position: absolute;
    right: 15px;
    top: 37px;
  }
  .dropbox-wrap{
    display: flex;
    justify-content: flex-end;
  }
  .dropbox__menu{
    display: flex;
    background-color: #000000;
    width: 44px;
    height: 37px;
    align-items: center;
    justify-content: center;
    &:active{
      background-color: #202326;
    }
    .fa-bars{
      color: #ffffff;
    }
  }

  .sub-navbar-image{
    margin: 0 0 42px 0;
    img{
      width: 100%;
    }
  }
  .posts__body{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 32px;
    justify-content: stretch;
    img{
      width: 160px;
      height: 140px;
    }
    .post{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      .post__image{
        margin: 0 0 11px 0;
      }
      .post__content{
        margin: 0 0 0 0;
        .post__text{
          display: none;
        }
      }
    }
    .post:last-child{
      margin: 0 0 43px 0;
    }
  }
  .gallery__head{
    padding: 0 0 13px 0;
    .smaller-title{
      display: none;
    }
  }
  .gallery__body{
    .none{
      display: none;
    }
  }
  .footer{
    padding: 38px 0 47px 0;
  }
}
@media (min-width: 768px) and (max-width:1199px){
  ._container{
    max-width: 768px;
  }
  .top-navbar{
    margin: 25px auto;
    .menu__link{
      margin: 0 34px 0 0;
    }
    .navbar__dropbox{
      display: none;
    }
  }
  .sub-navbar-image{
    margin: 0 0 59px 0;
    img{
      width: 100%;
    }
  }
  .recent-posts{
    margin: 0 0 60px 0;
  }
  .posts__body{
    grid-template-columns: repeat(1, 575px);
    grid-template-rows: repeat(4, 140px);
    grid-column-gap: 0;
    grid-row-gap: 32px;
    justify-content: stretch;
  }
  .smaller-title{
    display: block;
  }
  .gallery__body{
    display: flex;
    justify-content: center;
    img{
      width: 240px;
      height: 249px;
    }
    img:last-child{
      display: none;
    }
    img:nth-child(2){
      margin: 0 10px;
    }
  }
  .footer{
    padding: 56px 0;
    background-color: $dropboxAndFooterBgColor;
  }
}
@media screen and (min-width: 1200px) {
  ._container{
    max-width: 1200px;
  }
  .top-navbar{
    margin: 30px auto;
    .menu__link{
      margin: 0 68px 0 0;
    }
    .navbar__dropbox{
      display: none;
    }
  }
  .sub-navbar-image{
    margin: 0 0 69px 0;
    img{
      width: 100%;
    }
  }
  .recent-posts{
    margin: 0 0 70px 0;
  }
  .posts__body{
    grid-template-columns: repeat(2, 575px);
    grid-template-rows: repeat(2, 140px);
    grid-column-gap: 55px;
    grid-row-gap: 25px;
  }
  .gallery__body{
    display: grid;
    //justify-content: space-between;
    grid-column-gap: 10px;
    grid-template-columns: repeat(4, 285px);
    margin: 0 auto;
    justify-content: center;
    padding: 0 0 50px 0;
  }
  .instagram-gallery{
    background-color: #E9EDEF;
    padding: 49px 0;
  }
}