*{
    margin: 0 auto;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.table-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 0 0;
}
.table td{
    border: 1px solid #000;
    padding: 20px;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}