*, *::before, *::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    font-family: Arial, sans-serif;
}

.wrapper{}
.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #5e5373;
}
.header__body{
    position: relative;
    /*z-index: 2;*/
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header__logo{
    display: block;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #000000;
    width: 60px;
    height: 60px;
    flex: 0 0 60px;
    max-width: 100%;
    position: relative;
    z-index: 3;
    overflow: hidden;
}
.header__list{
    display: flex;
    position: relative;
    z-index: 2;
}
.header__list li{
    list-style: none ;
    margin: 0 0 0 20px;
}
.header__link{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}
.header__link:hover{
    color: black;
}
.content{
    padding: 100px 0 0 0;
}
.content__text{
    font-size: 18px;
    line-height: 20px;
}
.content__text p{
    margin: 0 0 20px 0;
}

.header__burger{
    display: none;
}
.header__menu{}

@media (max-width: 767px) {
    .header__body{
        height: 50px;
    }
    .header__logo{
        flex: 0 0 40px;
        width: 40px;
        height: 40px;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__burger span{
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }
    .header__menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #18b5a4;
    }
}