@import "../variables";
@import "../mixins/mixins";
.btn-waiting{

  @include bordered-error-box;

  background-color: $colorLightYellow;
  color: $colorBlue;

  span{
    border: 1px solid #f6f6f6;
  }
}
.btn-error{
  background-color: $colorRed;;
  color: $colorWhite;
}