@import "../reset-custom/reset";
@import "../variables/variables";
@import "../mixins/mixin-styles";
@import "../../../../../../forkio-step/src/scss/media-requests/media-requests-styles";

.get-section {
  background-color: #F4F4F4;
}

.get-section__container{
    display: grid;
    grid-template-areas:
            'get-section-content get-section-title'
            'get-section-content get-section-main-image';
    justify-content: space-between;
  }

.get-section-title-wrap{
  grid-area: get-section-title;
  .get-section__title{
    text-transform: none;
    color: #8D81AC;
    font-family: $main-font;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0;
  }
}
.get-section__content__wrap{
  display: grid;
  grid-row-gap: 33px;
  grid-area: get-section-content;
}
.get-section__content{
  display: grid;
  grid-template-columns: 15% 75%;
  font-family: $main-font;
  &__text{
    margin: 0 0 0 10px;
    h5{
      margin: 0 0 10px 0;
      font-style: normal;
      font-weight: 700;
      color: #323232;
      font-size: 16px;
      line-height: 21px;
    }
    p{
      color: #848E97;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
    }
  }
}
.get-section__image{
  grid-area: get-section-main-image;
}