*, *::before, *::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a{text-decoration: none;}
ul, ol, li{list-style: none}
img{vertical-align: top;}

html, body{
    height: 100%;
    line-height: 1;
    font-size: 14px;
    background-color: #333333;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.form{
    max-width: 600px;
    margin: 0 auto;
    color: #ffffff;
    padding: 30px 0;
}
.form * {
    outline: none;
}
.form__body{
    position: relative;
}
.form__body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.9) url('../img/loader-form.gif') center / 150px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
}
.form__body._sending::after{
    opacity: 1;
    visibility: visible;
}

.form__title{
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 30px 0;
}
.form__item{
    margin: 0 0 20px 0;
}
.form__label{
    display: block;
    font-size: 18px;
    margin: 0 0 10px 0;
}
.form__input{
    height: 50px;
    padding: 0 20px;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    transition: 0.3s;
}
.form__input:focus{
    box-shadow: 0 0 15px #7a965b;
}
textarea.form__input{
    min-height: 120px;
    resize: vertical;
    padding: 20px;
}
.options{
    padding: 10px 0 0 0;
}
.options__item{
    margin: 0 0 10px 0;
}
.options__input{
    display: none;
}
.options__input:checked + .options__label::after{
    transform: scale(1);
}
.options__label{
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    line-height: 140%;
    align-items: center;
    position: relative;
}
.options__label::before{
    content: '';
    align-self: flex-start;
    flex: 0 0 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 10px 0 0;
}
.options__label::after{
    transition: transform 0.3s ease 0s;
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 15px;
    height: 16px;
    background-color: #7a965b;
    border-radius: 50%;
    transform: scale(0);
}
.select{
    outline: none;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 18px;
}
.file{}
.file__item{
    position: relative;
}
.file__input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    font-size: 0;
}
.file__button{
    display: inline-flex;
    min-height: 40px;
    background-color: #77608d;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.file__preview{
    display: inline-block;
    max-width: 100px;
    padding: 10px 0 0 0;
}
.file__preview{
    max-width: 100%;
}
.checkbox{}
.checkbox__input{
    display: none;
}
.checkbox__input:checked + .checkbox__label::after{
    transform: scale(1);
}
.checkbox__label{
    position: relative;
    align-items: center;
    font-size: 16px;
    display: inline-flex;
    line-height: 140%;
    cursor: pointer;
}
.checkbox__label::before{
    content: '';
    flex: 0 0 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 4px;
    margin: 0 10px 0 0;
    align-self: flex-start;
}
.checkbox__label::after{
    transition: transform 0.5s ease 0s;
    content: '';
    width: 16px;
    height: 16px;
    top: 4px;
    left: 3.8px;
    position: absolute;
    background-color: #7a965b;
    border-radius: 4px;
    transform: scale(0);
}
.form__button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    background-color: #7a965b;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 700;
    box-shadow: 0 5px 0 #21291d;
    transition: 0.3s;
    outline: none;
    position: relative;
    top: 0;
}
.form__button:hover{
    background-color: #4f6146;
}
.form__button:active{
    top: 3px;
    box-shadow: 0 2px 0 #21291d;
}
.form__input._error{
    box-shadow: 0 0 15px red;
}
.checkbox._error .checkbox__label::before{
    box-shadow: 0 0 15px red;
}
