@import "../variables/colors";

@mixin recentPostText{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  text-align: left;
  color: $recentPostsTextColor;
}
@mixin navbarLinks {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 1.100000023841858px;
  text-align: left;
  color: $navbarAndTitleColor;
}
@mixin footerText{
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: $footerContentColor;
}