@import "../variables/colors";

@mixin title{
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  text-align: left;
  color: $navbarAndTitleColor;
  text-transform: uppercase;
  line-height: 22px;
}
@mixin post-title{
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  text-align: left;
  color: $navbarAndTitleColor;
  text-transform: capitalize;
  line-height: 30px;
}
@mixin subtitle{
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: $recentPostsSubtitleColor;
}
