*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
}
$cards-btn-colors: #7abaff;
$white-color: #ffffff;
body,html{
  height: 100%;
  font-family: Arial, sans-serif;
}
._container{
  max-width: 1170px;
  margin: 0 auto;
}
.card-wrapper{
  margin: 50px 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, 33.333%);
  grid-column-gap: 30px;
}

.card{
  border: 3px solid #6c6c6c;
  box-shadow: 0 0 5px 0 #000000;
}
.card__title{
  border-bottom: 2px solid #6c6c6c;
  padding: 15px 0;
  text-align: center;
  background-color: lightcyan;
  h4{
    font-size: 24px;
    color: #000000;
    font-weight: bold;
  }
}
.card__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content__price{
  display: flex;
  margin: 20px auto;
  .price{
    font-weight: bold;
    font-size: 40px;
  }
  .period{
    font-weight: bold;
    font-size: 24px;
  }
}
.content__subtitle{
  margin: 0 auto 20px auto;
  p{
    margin: 0 0 10px 0;
  }
}
.content__button{
  margin: 0 0 15px 0;
  button{
    width: 300px;
    padding: 20px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 18px;
    border-radius: 5px;
    background-color: $cards-btn-colors;
    border: 1px solid $cards-btn-colors;
    color: $white-color;
    &:hover{
      color: $cards-btn-colors;
      border-color: $cards-btn-colors;
      background-color: $white-color;
    }
  }
}
