.wrapper {
  display: grid;
  grid-template-areas: "header" "nav" "content" "sidebar-left" "sidebar-right" "footer";
  grid-template-rows: 2fr 1fr 3fr 1fr 1fr 1fr;
  grid-gap: 20px;
  font-size: 40px;
  text-align: center;
}
.header{
  grid-area: header;
  background-color: #ff4561;
  display: flex;
  justify-content: space-around;
}
.nav{
  grid-area: nav;
  background-color: #0f6674;
}
.content{
  grid-area: content;
  background-color: yellow;
}
.sidebar--left{
  grid-area: sidebar-left;
  background-color: red;
}
.sidebar--right{
  grid-area: sidebar-right;
  background-color: orange;
}
.footer{
  grid-area: footer;
  background-color: purple;
}
@media screen and (min-width: 500px){
  .wrapper{
    grid-template-areas: "header header" "nav nav" "sidebar-left content" "sidebar-right sidebar-right" "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 1fr 4fr 1fr 1fr;
  }
}
@media screen and (min-width: 700px){
  .wrapper{
    grid-template-areas: "header header header" "nav nav nav" "sidebar-left content sidebar-right" "footer footer footer";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 2fr 1fr 4fr 1fr;
  }
}
//body{
//  background-color: #6c6c6c;
//}
//@media (max-width: 350px) {
//  .panel{
//    display: none;
//  }
//  body{
//    background-color: #ff4561;
//  }
//  p{
//    font-size: 30px;
//    margin-bottom: 30px;
//  }
//}
//@media (min-width: 350px) and (max-width: 760px) {
//  .panel{
//    h1{
//      border: 5px dashed red;
//      font-weight: bold;
//      color: #000;
//      background-color: #fff;
//    }
//    p{
//      background-color: #6c6c6c;
//      color: #ffffff;
//      border: 5px dashed red;
//      font-weight: bold;
//    }
//  }
//}
//@media  (min-width: 760px){
//  .panel{
//      h1{
//        background-color: #000000;
//        color: #ffffff;
//        border: 5px dashed orange;
//      }
//    p{
//      background-color: #6c6c6c;
//      color: #000000;
//      border: 5px dashed orange;
//      font-weight: bold;
//    }
//  }
//}
//.panel{
//  padding: 20px;
//}
