@import "../variables/variables";
@mixin main-wrapper {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(1, auto);
  width: 100%;
  margin: 0 auto;
}
@mixin flex-default{
  display: flex;
  //flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin editor-title{
  font-family: $main-font;
  font-weight: 700;
  letter-spacing: 0;
  color: #635C73;
  text-align: center;
  text-transform: uppercase;
}
@mixin editor-subtitle{
  font-family: 'Lato', sans-serif;
  letter-spacing: 0;
  text-align: center;
  color: $subtitle-title-text-color;
}
@mixin editor-button-text-style{
  text-decoration: none;
  display: inline-block;
  color: #24292e;
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
  font-family:  $main-font;
  cursor: pointer;
}
@mixin title{
  font-family:  $main-font;
  font-weight: 700;
  letter-spacing: 0;
  text-align: center;
  color: #ffffff;
}