$navbarAndTitleColor: #4E4E4E;
$recentPostsSubtitleColor: #7C7C7C;
$recentPostsTextColor: #5C5C5C;
$footerContentColor: #B9B9B9;
$footerTitleColor: #FEFEFE;
$navbarHoverColor: #57A4A4;
$dropboxAndFooterBgColor: #000000;